.cell {
  border: 1px solid #6f6f6f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: rgb(181, 179, 179);
}
.hidden {
  border: 4px solid #9e9e9e;
  background-color: #6f6f6f;
  border-style: outset;
  cursor: pointer;
}

.cell-1 {
  color: blue;
}
.cell-2 {
  color: green;
}
.cell-3 {
  color: red;
}
.cell-4 {
  color: darkblue;
}
.cell-5 {
  color: brown;
}
.cell-6 {
  color: turquoise;
}
.cell-7 {
  color: black;
}
.cell-8 {
  color: white;
}
